<!-- Home special section html start -->


<section class="special-section mt-4">
    <div class="container">
        <div class="section-heading text-center">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h5 class="dash-style">ANURADHA DALMIA</h5>

                </div>
            </div>
        </div>
        <div class="special-inner">
            <div class="container">
                <div class="text-center">
                    <div class="col">
                        <div class="special-item">
                            <figure class="special-img">
                                <img src="assets/images/owner.jpeg" alt="" width="230px">
                            </figure>


                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 aboutustext">
                <h4>Greetings!</h4>
                <p>I am Anuradha Dalmia - mother of 2, an avid traveler, and a woman entrepreneur. I have an unbridled passion for exploring new places and have been traveling around the world and personalizing tours for 10,000+ clients over 20 years in
                    the industry!</p>

                <p>From beautiful vistas of the snow-capped Himalayas of Kashmir in North, taking a dip in the holy Ganges of Varanasi in Central India, boating in the backwaters of Kerala in the South, star-gazing in the white sand dunes of the West, to
                    the untouched beauty of Tawang & Shillong in the East - I have seen the beauty of India in its full splendor. I have a special place in my heart for the pilgrim sites of Amarnath, Kedarnath & Badrinath. </p>

                <p>I have also witnessed the serenity of Switzerland, architectural beauty of France, Austria, & Italy. USA is my second home. </p>
                <p>I believe in traveling to a place first before personalizing it for others. Every travel package we make is heavily researched, tailor-made, and crafted with delicate care. I take inspirations from the locals, finding the best cuisines,
                    and finding the hidden gems of any location for you to experience.
                </p>
                <p>
                    We would be delighted to plan your dream vacation - with the utmost care and love. Rest assure you would get the best-in-class service from our team.
                </p>
                <p><b>Ghumo aur Ghumao! </b></p>
                <span class="signature">
                  Yours truly,
                <br> Anuradha Dalmia <br> Director, Ghumao.in
                </span>

            </div>
        </div>
    </div>
</section>