.modal-content {
    // width: 550px;
    padding: 0;
    position: relative;
    .modal-header {
        h3 {
            width: calc(100% - 32px);
        }
    }
}

.calandar-class {
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
}

.dropdown-menu.show {
    z-index: 1090 !important;
}

bs-datepicker-container {
    z-index: 999999 !important;
}

.bs-datepicker {
    z-index: 2051 !important;
}

.bootstrap-datetimepicker-widget td {
    border: 0px !important;
}

.bs-datepicker-body table td.week span {
    color: #2dfbcd !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head,
.bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
    background-color: #F56960 !important;
}